@use '../../constants/colors' as colors;
@use '../../constants/mixins' as mixins;

#mywalletsledger {
    @include mixins.useFlex(row, nowrap, flex-start, space-between, 0);

    ._ledgers {
        width: 48%;

        .title_desc {
            @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
            font-size: 1rem;
            font-weight: 500;

            span {
                font-size: 0.875rem;
                font-weight: 500;
                color: colors.$textsecondary;
            }
        }
    }

    .last_update {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.875rem);
        width: 48%;

        p {
            font-size: 0.875rem;
            font-weight: 500;
        }
    }
}