.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


/node_modules
/dist
/build
/coverage
/logs
/temp
/cache

/MAsterNodeUi/node_modules
/MAsterNodeUi/dist
/MAsterNodeUi/build
/MAsterNodeUi/coverage
/MAsterNodeUi/logs
/MAsterNodeUi/temp
/MAsterNodeUi/cache

/ClientNodeUi/node_modules
/ClientNodeUi/dist
/ClientNodeUi/build
/ClientNodeUi/coverage
/ClientNodeUi/logs
/ClientNodeUi/temp
/ClientNodeUi/cache


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
venv

# outputs
build*

# MAsterNodeUi specific
/MAsterNodeUi/logs
/MAsterNodeUi/*.log
/MAsterNodeUi/npm-debug.log*
/MAsterNodeUi/yarn-debug.log*
/MAsterNodeUi/yarn-error.log*
/MAsterNodeUi/pnpm-debug.log*
/MAsterNodeUi/lerna-debug.log*

/MAsterNodeUi/dist-ssr
/MAsterNodeUi/*.local
/MAsterNodeUi/package-lock.json

/MAsterNodeUi/.vscode/*
!/MAsterNodeUi/.vscode/extensions.json
/MAsterNodeUi/.idea
/MAsterNodeUi/*.suo
/MAsterNodeUi/*.ntvs*
/MAsterNodeUi/*.njsproj
/MAsterNodeUi/*.sln
/MAsterNodeUi/*.sw?
/MAsterNodeUi/.venv
/MAsterNodeUi/venv

/MAsterNodeUi/build*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
venv

# outputs
build*

# ClientNodeUi specific
/ClientNodeUi/logs
/ClientNodeUi/*.log
/ClientNodeUi/npm-debug.log*
/ClientNodeUi/yarn-debug.log*
/ClientNodeUi/yarn-error.log*
/ClientNodeUi/pnpm-debug.log*
/ClientNodeUi/lerna-debug.log*

/ClientNodeUi/dist-ssr
/ClientNodeUi/*.local
/ClientNodeUi/package-lock.json

/ClientNodeUi/.vscode/*
!/ClientNodeUi/.vscode/extensions.json
/ClientNodeUi/.idea
/ClientNodeUi/*.suo
/ClientNodeUi/*.ntvs*
/ClientNodeUi/*.njsproj
/ClientNodeUi/*.sln
/ClientNodeUi/*.sw?
/ClientNodeUi/.venv
/ClientNodeUi/venv

/ClientNodeUi/build*
