.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


/node_modules
/dist
/build
/coverage
/logs
/temp
/cache

/MasterNode/node_modules
/MasterNode/dist
/MasterNode/build
/MasterNode/coverage
/MasterNode/logs
/MasterNode/temp
/MasterNode/cache

/ClientNode/node_modules
/ClientNode/dist
/ClientNode/build
/ClientNode/coverage
/ClientNode/logs
/ClientNode/temp
/ClientNode/cache


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
venv

# outputs
build*

# MasterNode specific
/MasterNode/logs
/MasterNode/*.log
/MasterNode/npm-debug.log*
/MasterNode/yarn-debug.log*
/MasterNode/yarn-error.log*
/MasterNode/pnpm-debug.log*
/MasterNode/lerna-debug.log*

/MasterNode/dist-ssr
/MasterNode/*.local
/MasterNode/package-lock.json

/MasterNode/.vscode/*
!/MasterNode/.vscode/extensions.json
/MasterNode/.idea
/MasterNode/*.suo
/MasterNode/*.ntvs*
/MasterNode/*.njsproj
/MasterNode/*.sln
/MasterNode/*.sw?
/MasterNode/.venv
/MasterNode/venv

/MasterNode/build*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
package-lock.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.venv
venv

# outputs
build*

# ClientNode specific
/ClientNode/logs
/ClientNode/*.log
/ClientNode/npm-debug.log*
/ClientNode/yarn-debug.log*
/ClientNode/yarn-error.log*
/ClientNode/pnpm-debug.log*
/ClientNode/lerna-debug.log*

/ClientNode/dist-ssr
/ClientNode/*.local
/ClientNode/package-lock.json

/ClientNode/.vscode/*
!/ClientNode/.vscode/extensions.json
/ClientNode/.idea
/ClientNode/*.suo
/ClientNode/*.ntvs*
/ClientNode/*.njsproj
/ClientNode/*.sln
/ClientNode/*.sw?
/ClientNode/.venv
/ClientNode/venv

/ClientNode/build*
