@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#messages {
  margin-bottom: 4rem;

  .messagges_form {
    @include mixins.useFlex(column, nowrap, center, space-between, 0);
    width: 45%;
    padding: 1rem 0;
    border: 1px solid colors.$divider;
    border-radius: 0.5rem;

    .inputs_ctr {
      @include mixins.useFlex(column, nowrap, center, flex-start, 0);

      .title {
        width: 90%;
        text-align: left;
        font-weight: 500;
      }

      width: 100%;
    }
  }
}
